<div class="header">
	<div id="top">
		<a href="">
		    <i class="all_restaurant" aria-hidden="true"></i><span>全部餐廳</span>
		</a>
		<a href="javascript:show_Favorite()">
		    <i class="my_favorite" aria-hidden="true"></i><span>我的收藏</span>
		</a>
	</div>
</div>
