
<div id="sitebody">
	<div id="filter">
		<select id="opening_hours">
		  <option value="all" selected="selected">不限</option>
		  <option value="opening">現在營業</option>
		</select>
	</div>
	<ul id="sidebar-left" ></ul>
	<div id="map"></div>
</div>


<script type="text/javascript" src="assets/js/googlemaps_res.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0SEsueJfTm1q5k7bnAkt1OLTFv1oO2C0&signed_in=true&callback=initMap"></script>
<script src="assets/js/markerclusterer.js"></script>

<script>
  jQuery(document).ready(function($) {
      
      
  });
</script>
